*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #231815;
  font-weight: 300;
}
p {
  line-height: 20px;
}
h1, h2, h3 {
  font-weight: 100;
}
body {
  background-color: #3b3e48;
  min-height: 100vh;
  color: white;
}
ol, ul {
  padding-left: 22px;
}
.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1018px;
  height: 100%;
  position: relative;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.button {
  padding: 10px 16px;
  background: #F14471;
  border: none;
  display: inline-block;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
label {
  display: block;
  margin-top: 22px;
  margin-bottom: 4px;
}
input, textarea {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  border-radius: 4px;
  width: 100%;
  background: #282c34;
  padding: 12px;
  color: white;
  border-left: 3px solid #F14471;
  &[disabled] {
    background-color: #282c34;
  }
}